<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EmployeeLeaveDBConnectionString"
		connectionString="Data Source=DESKTOP-IGUCUFA\SQLEXPRESS;Initial Catalog=EmployeeLeaveDb;Integrated Security=true"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>